<div data-controller="pagination" class="v3-common">
    <div class="bs-row bs-p-4 bs-py-3 bs-position-fixed pagination bs-bg-light bs-rounded <%= @css_class if @css_class.present? %>">
        <div class="bs-col-auto bs-p-0">
            <% if @custom_pagination %>
                <%= helpers.paginate_custom @scope, views_prefix: @views_prefix, target: "list_view", current_page: @current_page, total_pages: @total_pages, data: @data %>
            <% else %>
                <%= helpers.paginate @object, views_prefix: @views_prefix, target: @target_frame , window: 0, data: @data %>
            <% end %>
        </div>
    </div>
</div>