<div class="bs-form-check bs-form-switch bs-ps-0">
    <input class="bs-form-check-input bs-fs-4 bs-ms-2 bs-mt-1" type="checkbox" data-action="reseller#toggle" name="<%= @name %>" id="<%= @id %>" value="<%= @id %>" <% if  @checked %> checked  <% end %>>
</div>