<div class="bs-border bs-rounded bs-mt-3">
    <div class="bs-row bs-align-items-start bs-border-bottom bs-g-0 bs-shadow-sm bs-py-3">
        <% headers.each_with_index do |header, index| %>
            <%= header %>
        <% end %>
    </div>
    <%= tableBody %>
</div>