<span class="bs-d-inline-flex bs-align-items-center bs-justify-content-center bs-me-2 bs-rounded-circle bs-p-2 <%= @bg_class %>">
    <% if @src.present? %><img height="25" width="25" class="bs-rounded-circle" src="<%= @src %>" alt=""><% end %>
    <%= content %>
</span>