<div data-notification-target="toast" id="<%= @id %>" class="bs-toast bs-bg-body bs-border-0 bs-shadow-lg" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="bs-d-flex">
        <div class="bs-toast-body bs-fs-6 bs-col-10 bs-py-3">
            <div class="bs-d-flex bs-align-items-center">
                <% if @flash_type == "alert" %>
                    <svg xmlns="http://www.w3.org/2000/svg" height="25" width="25" class="bs-text-danger bs-col-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                <% end %>
                <% if @flash_type == "notice" %>
                    <svg class="bs-text-success bs-col-2" height="25" width="25" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                <% end %>
                <span class="bs-col-10"><%= @message %></span>
            </div>
        </div>
        <button type="button" class="bs-btn-close bs-m-auto" data-bs-dismiss="bs-toast" aria-label="Close"></button>
    </div>
</div>
<% if @redirect_to.present? %>
    <div data-notification-target="redirect" data-redirect-to="<%= @redirect_to %>"></div>
<% end %>