<div 
    data-controller="progress-button-wrapper"
    data-action="turbo:submit-start->progress-button-wrapper#showLoading turbo:submit-end->progress-button-wrapper#stopLoading">
    <%= content %>
</div>
