<fieldset data-controller="radio-group"
    data-radio-group-border-blue-class="bs-border-bottomlue-500"
    data-radio-group-border-transparent-class="tw-border-transparent"
    data-radio-group-border-gray-class="tw-border-gray-300"
    data-radio-group-invisible-class="tw-invisible">
    <div class="tw-mb-4 tw-grid tw-grid-cols-1 tw-gap-y-6 <%= radios.length > 2 ? "sm:tw-grid-cols-3 sm:tw-gap-x-4" : "sm:tw-grid-cols-2 sm:tw-gap-x-7" %>">
        
        <% radios.each do |radio| %>
            <label data-action="click->radio-group#updateChecked" data-radio-group-target="label" class="tw-transition-all tw-ease-in tw-duration-200 bs-position-relative tw-bg-white tw-border tw-rounded-lg tw-shadow-sm tw-p-5 bs-d-flex tw-cursor-pointer focus:tw-outline-none tw-border-gray-300">
                <span class="bs-flex-grow-1 bs-d-flex">
                    <span class="bs-d-flex bs-flex-column"> <%= radio %> </span>
                </span>
                <svg data-handler="icon" class="tw-invisible tw-h-8 tw-w-8 tw-text-blue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"
                    />
                </svg>
                <span data-handler="selection" class="tw-transition-all tw-ease-in tw-duration-200 bs-position-absolute tw--inset-px tw-rounded-lg tw-border-2 tw-border-transparent tw-pointer-events-none" aria-hidden="true"></span>
            </label>
        <% end %>
    </div>
</fieldset>
