<div class="bs-d-flex bs-align-items-center">
    <% if icon? %>
        <%= icon %>
    <% end %>
    <div class="bs-text-truncate">
        <dt class="bs-fw-semibold bs-text-black-50 "> <%= @title %> </dt>
        <dd class="bs-mt-1   bs-text-truncate"><%= content %></dd>
    </div>
</div>