<div data-controller="bookmark" data-bookmark-bookmarks-value="<%= @bookmarks %>">
    <%= content_tag :div, class: @classes, data: @data  do %>
        <div class="bookmark-manager" class="bs-p-4 bs-rounded bs-bg-white" data-bookmark-target="container">
            <!-- Dynamic content will be inserted here -->
        </div>
    <% end %>
</div>
