.modal-backdrop {
    // background-color: $modal-backdrop-bg;
    backdrop-filter: blur(0.571rem);
    -webkit-backdrop-filter: blur(0.571rem); // Safari support
    
    // Fade animation
    // &.fade {
    //   opacity: 0;
    // }
    
    // &.show {
    //   opacity: $modal-backdrop-opacity;
    // }
}

.modal-header {
    padding: $ds-spacing15rem $ds-spacing15rem 0 $ds-spacing15rem;
    .btn-close {
        height: $ds-spacing15rem;
        width: $ds-spacing15rem;
    }
}

.modal-footer {
    padding: $ds-spacing2rem $ds-spacing15rem $ds-spacing15rem $ds-spacing15rem;
}

.modal-body {
    padding: 0 $ds-spacing125rem;
}