<div class="<%= @css_class if @css_class.present? %>" data-controller="field-validation">
  <%= label_tag @id, @label if @label.present? %>
  <%= text_area_tag @name, @value,
        id: @id,
        rows: @rows,
        cols: @cols,
        placeholder: @placeholder,
        class: "bs-form-control",
        style: @style,
        maxlength: @maxlength,
        data: @data,
        disabled: @disabled,
        required: @required,
        readonly: @read_only %>
  <%= label_tag "", "", data: { field_validation_target: "errorText" }, class: "bs-form-label bs-fs-6 bs-text-danger bs-d-none #{@error_label_class}" %>
</div>
