<%= sf "BsModal", id: @id, title: nil, size: "bs-modal-lg" do |c| %>
    <div class="bs-d-flex bs-align-items-center bs-justify-content-center bs-py-4">
        <iframe id="global-demo-video-frame" width="800" height="500" src="<%= @src %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen iframe-onload="undefined" class="bs-rounded"></iframe>
    </div>
<% end %>
