<div class="bs-h-100 bs-bg-light bs-p-3 bs-border bs-d-flex bs-align-items-center bs-rounded">
    <%= image_tag @icon_src, size: '62x62', class: 'bs-me-3' %>
    <div>
        <%= raw @title %>
        <br />
        <%= raw @description %>
    </div>
</div>