<div class="tw-h-[395px] tw-shadow-xl tw-bg-white  tw-rounded-[13px] tw-w-[585px] tw-mx-[29px] tw-z-10 tw-p-[37px] bs-position-absolute tw-left-0 tw-right-0 tw-top-[-21px] tw-bottom-0">
    <div class="tw-animate-pulse bs-d-flex tw-space-x-4 bs-flex-column">
        <div class="tw-animate-pulse bs-d-flex tw-space-x-4 bs-align-items-center">
            <div class="tw-rounded-full tw-bg-slate-700 tw-h-14 tw-w-14"></div>
            <div class="bs-flex-grow-1 tw-space-y-6 tw-py-1">
                <div class="tw-space-y-10">
                    <div class="tw-h-2 tw-bg-slate-700 tw-rounded"></div>
                </div>
            </div>
        </div>
        <div class="tw-animate-pulse bs-my-3 bs-d-flex bs-flex-wrap">
            <% 10.times do %>
                <div class="tw-rounded-2xl tw-bg-slate-700 tw-h-24 tw-w-24 bs-m-3"></div>
            <% end %>
        </div>
    </div>
</div>