<div data-controller="search" id="device-profiles-search-list">
    <div class="bs-bg-white  bs-shadow-sm bs-overflow-hidden">
        <ul role="list" class="tw-divide-y tw-divide-gray-200">
            <turbo-frame id="device_profiles">
                <% items.each do |item| %> <%= item %> <% end %>
            </turbo-frame>
        </ul>
    </div>
</div>
