<div class="bs-h-100 bs-card bs-border">
    <div class="bs-row bs-border-bottom bs-shadow-sm bs-px-3 bs-mx-0">
        <%= content_tag :div, @title, class: "bs-p-3 bs-col-6 bs-fw-semibold" %>
        <% unless @readonly %>
            <div class="bs-p-3 bs-col-6 bs-text-end bs-d-flex bs-justify-content-end">
                <%= button_to @create_url,
                        method: :get,
                        params:  @params,
                        data: { turbo_frame: @create_frame_id },
                        class: "bs-btn bs-py-0 bs-px-3 bs-btn-outline-primary bs-d-flex bs-align-items-center" do %>
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus bs-me-2"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                    <%= t("common.create") %>
                <% end %>
            </div>
        <% end %>
    </div>
    <%= turbo_frame_tag @turbo_frame_id, src: @turbo_frame_url, loading: :lazy do %>
        <% 2.times do %>
            <p class="bs-placeholder-glow bs-px-3 bs-d-flex bs-align-items-center bs-justify-content-between bs-border-top bs-border-bottom bs-py-4 bs-m-0">
                <span class="bs-placeholder bs-placeholder-lg bs-rounded bs-col-11 bs-me-2"></span>
                <span class="bs-placeholder bs-placeholder-lg bs-rounded bs-col-1 bs-me-2"></span>
            </p>
        <% end %>
    <% end %>
</div>
