<%= turbo_frame_tag dom_id(@item), class: "bs-row bs-px-3 bs-mx-0 bs-border-bottom list-item bs-align-items-center" do %>
    <div class="bs-p-3 bs-col-6 bs-text-truncate" title="<%= @item&.name %>"><%= @item&.name %></div>
    <div class="bs-p-3 bs-col-6 bs-d-flex bs-justify-content-end">
        <%= content %>
    </div>
<% end %>
